.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */;
  display: flex;
  
  
  
  
  
  
}

.react-player {
  position: absolute;
  margin: 10pc
  
  ;
}